:root {
  font-size: 1rem;
}

body {
  background-color: #74c0fc;
}

.heading {
  position: relative;
  top: 50px;
  width: 50%;
}

h1 {
  position: relative;
  top: 5px;
}

#drum-machine {
  height: fit-content;
  width: 50%;
  margin: 160px auto;
  padding: 10px 20px;
}

.drum-pad-button {
  background-color: #ffa705;
  padding: 10px;
  margin: 10px 3px;
  font-size: 1.8rem;
}

.drum-pad-button-pressed {
  box-shadow: 0 1px rgb(120, 120, 120);
  transform: translateY(6px);
}